body {
	background:white;
	padding: 0;
	margin: 0;
}

#header{width: 1000px; height: 100px; background: brown; margin-left: auto; margin-right: auto;}	

#Menu{ background-color: brown; width: 1000px; margin-right: auto; margin-left: auto; height: 45px; margin-top: 0; color: white;}


#Menu ul{padding: 8px;}
#Menu ul li {list-style: none; display: inline;}
 #Menu ul li a:link{border-right: 1px solid white; text-decoration: underline; font-size: 18px; font-family: Calibri; margin: 5px; padding:4px; }
  #Menu ul li a:hover{color: red; text-decoration: none; font-size: 18px; background:yellow; padding: 5px;}



#social {text-align: center; border-bottom: 2px solid yellow;}

#social img {width: 30px; height: 30px; margin: 5px; padding: 3px;}

#social h2 {font-size: 30px; font-family: calibri; color: yellow;}

/* height:600; main_contentden ald�m*/
#icerik{width: 688px;  padding: 5px; border-right: 2px solid gray; float: left; background: white; margin-left: 4px;}

#icerik p{padding: 5px;}

#icerik a:link{font-size: 20px; font-family: Calibri;}

#arama {text-align: center; margin: 10px;}

#main_content h2 {padding: 5px; color: brown;}

#sidebar {width: 288px;  float:right; background: green; margin-right: 7px; padding: 4px;}



#sidebar h2 {font-size: 25px; font-family: calibri; color: lightblue;}
#sidebar h3 {font-size: 20px; font-family: calibri; color: yellow;}
#sidebar h4 {font-size: 18px; font-family: calibri; color: lightblue;}



#footer{width: 100%; height: 80px; background:orange; clear: both;}

#logo {float:left; width: 200px; height: 100px; border: 1px solid gray;}
#banner{float: right; margin-right: 0;}
#banner img{width: 798px; height: 100px; float: left; margin-left: 0; }

#ul{padding: 8px;}
#ul li{list-style: none; display: inline;}
#ul li a:link {color: white; border-right: 1px solid white; text-decoration: none; font-size: 18px; font-family: Calibri; margin: 5px; padding:4px;}

#ul li a:hover {color: white; text-decoration: underline; font-size: 18px; background:black; padding: 5px;}








